<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/facebook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/facebook"
        android:supportsRtl="true"
        android:theme="@style/Theme.Facebook">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".ResetPasswordActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".NotificationsActivity" android:exported="false" />
        <activity android:name=".FriendsActivity" android:exported="false" />
        <activity android:name=".VideoActivity" android:exported="false" />
        <activity android:name=".MenuActivity" android:exported="false" />
        <activity android:name=".SearchActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".SavedPostsActivity" android:exported="false" />
        <activity android:name=".PrivacyActivity" android:exported="false" />
        <activity android:name=".MessengersActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".HelpActivity" android:exported="false" />
        <activity android:name=".CreateStoryActivity" android:exported="false" />
        <activity android:name=".CreatePostActivity" android:exported="false" />
        <activity android:name=".CreateNoteActivity" android:exported="false" />
        <activity android:name=".CreateFilmActivity" android:exported="false" />
        <activity
            android:name=".StoryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GeminiActivity" android:exported="false" />
        <activity android:name=".LiveStreamActivity"  android:exported="false"/>
        <activity android:name=".CommentActivity"  android:exported="false"/>
        <activity android:name=".StoryDetailActivity"  android:exported="false"/>


    </application>

</manifest>